{% extends 'base.html' %}
{% block title %}Посты{% endblock title %}
{% block body %}
    <h1>Посты:</h1>
    <a href="{% url 'create-post' %}" ><button type="button" >новый пост</button></a>

    {% for p in posts %}
    <p><a href="{% url 'post-details' p.id %}">{{ p.title }}</a></p>
    {% endfor %}

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Предыдушая страница</a>
        {% endif %}
        <span>Старница:  {{ page_obj.number}} </span>
        {% if page_obj.has_next %}
            <a href="?page= {{ page_obj.next_page_number }}">Следуюшая страница</a>

        {% endif %}
    </div>
{% endblock body %}